In [1]:
import pandas as pd
import gc

# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

import matplotlib.ticker as ticker

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# 학습용과 검증용으로 나누는 함수
from sklearn.model_selection import train_test_split

# 교차 검증
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한 도구
from sklearn.model_selection import GridSearchCV

# 머신러닝 알고리즘 - 분류
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor

# 차원 축소
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

# 군집
from sklearn.cluster import KMeans
from sklearn.cluster import MeanShift
from sklearn.cluster import estimate_bandwidth

# 학습 모델 저장을 위한 라이브러리
import pickle

In [2]:
import os

folder_path = 'data/train/5.잔액정보'
file_list = os.listdir(folder_path)
print(file_list)

['201807_train_.parquet', '201808_train_.parquet', '201809_train_.parquet', '201810_train_.parquet', '201811_train_.parquet', '201812_train_.parquet']

In [3]:
df1 = pd.read_parquet(r'data/train/5.잔액정보/201807_train_.parquet')
df2 = pd.read_parquet(r'data/train/5.잔액정보/201808_train_.parquet')
df3 = pd.read_parquet(r'data/train/5.잔액정보/201809_train_.parquet')
df4 = pd.read_parquet(r'data/train/5.잔액정보/201810_train_.parquet')
df5 = pd.read_parquet(r'data/train/5.잔액정보/201811_train_.parquet')
df6 = pd.read_parquet(r'data/train/5.잔액정보/201812_train_.parquet')

In [4]:
df7 = pd.read_parquet(r'data/test/5.잔액정보/201807_test_.parquet')
df8 = pd.read_parquet(r'data/test/5.잔액정보/201808_test_.parquet')
df9 = pd.read_parquet(r'data/test/5.잔액정보/201809_test_.parquet')
df10 = pd.read_parquet(r'data/test/5.잔액정보/201810_test_.parquet')
df11 = pd.read_parquet(r'data/test/5.잔액정보/201811_test_.parquet')
df12 = pd.read_parquet(r'data/test/5.잔액정보/201812_test_.parquet')

In [5]:
train_df = pd.concat([df1, df2, df3, df4, df5, df6])
train_df.reset_index(inplace=True, drop=True)
train_df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,15988,2440,0,0,0,572,0,17008,0,0
1,201807,TRAIN_000001,2565,2390,0,0,0,0,4090,2553,...,7045,2677,0,2830,0,2736,0,0,0,0
2,201807,TRAIN_000002,5312,5113,21531,6795,0,0,5006,8778,...,66549,9118,0,8870,0,4429,0,43351,0,0
3,201807,TRAIN_000003,730,5025,26284,0,0,0,487,5607,...,30139,884,0,0,0,5097,0,30697,0,0
4,201807,TRAIN_000004,0,0,0,0,0,0,0,0,...,28,21,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399996,201812,TRAIN_399996,3351,0,0,0,0,27337,4412,0,...,67826,12524,0,0,0,0,0,0,0,23031
2399997,201812,TRAIN_399997,2524,2960,0,0,0,0,2694,3374,...,8627,3241,0,0,0,3995,0,0,0,0
2399998,201812,TRAIN_399998,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,5463,1053,0,0,0,4373,0,0,0,0

In [6]:
test_df = pd.concat([df7, df8, df9, df10, df11, df12])
test_df.reset_index(inplace=True, drop=True)
test_df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_6M,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M
0,201807,TEST_00000,4802,0,0,0,0,0,6412,0,...,3847,2933,384,0,0,0,0,0,0,0
1,201807,TEST_00001,1201,8628,5448,0,0,24299,1010,8156,...,42634,657,0,0,0,7979,0,1530,0,31707
2,201807,TEST_00002,3046,6144,0,0,0,0,4407,8033,...,22936,6253,0,0,0,12329,0,0,0,0
3,201807,TEST_00003,768,945,0,0,0,0,1107,674,...,1206,819,0,0,0,468,0,0,0,0
4,201807,TEST_00004,637,2558,0,0,0,0,1072,3690,...,2914,979,0,0,0,2414,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,201812,TEST_99995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599996,201812,TEST_99996,191,0,0,0,0,0,260,0,...,275,137,0,0,0,0,0,0,0,0
599997,201812,TEST_99997,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599998,201812,TEST_99998,17916,2786,0,0,0,0,16911,2081,...,20549,18108,240,0,0,1830,0,0,0,0
599999,201812,TEST_99999,44,0,0,0,0,0,37,0,...,18,9,0,0,0,0,0,0,0,0

In [7]:
selected_df1 = train_df[['ID', '기준년월', '월중평잔_일시불_B0M', '월중평잔_일시불', '평잔_일시불_3M', '잔액_일시불_B0M', '잔액_일시불_B1M','잔액_일시불_B2M']].copy()
selected_df2 = test_df[['ID', '기준년월', '월중평잔_일시불_B0M', '월중평잔_일시불', '평잔_일시불_3M', '잔액_일시불_B0M', '잔액_일시불_B1M','잔액_일시불_B2M']].copy()

In [8]:
selected_df1.to_csv('5.잔액정보(train).csv', index=False, encoding='utf-8-sig')
selected_df2.to_csv('5.잔액정보(test).csv', index=False, encoding='utf-8-sig')

In [12]:
selected_df1.to_parquet('5.잔액정보(train).parquet', index=False)
selected_df2.to_parquet('5.잔액정보(test).parquet', index=False)