In [1]:
# 기본
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 뜨지 않게 설정
import warnings
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 데이터 전처리 알고리즘
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# 학습용과 검증용으로 나누는 함수
from sklearn.model_selection import train_test_split

# 교차 검증
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한 도구
from sklearn.model_selection import GridSearchCV

# 머신러닝 알고리즘 - 분류
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import VotingRegressor

# 차원 축소
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

# 군집
from sklearn.cluster import KMeans
from sklearn.cluster import MeanShift
from sklearn.cluster import estimate_bandwidth

# 학습 모델 저장을 위한 라이브러리
import pickle

In [2]:
# 데이터를 읽어온다.
df1 = pd.read_parquet(r'data/1.회원정보_train_filtered_data.parquet')
df2 = pd.read_parquet(r'data/신용정보_VIF용5.parquet')
df3 = pd.read_parquet(r'data/승인매출정보_변수추출_1차.parquet')
df4 = pd.read_parquet(r'data/4.청구입금정보(train).parquet')
df5 = pd.read_parquet(r'data/5.잔액정보(train).parquet')
df6 = pd.read_parquet(r'data/6.채널정보_VIF용2.parquet')

In [3]:
df1

,기준년월,ID,이용가능여부_해외겸용_본인,보유여부_해외겸용_본인,수신거부여부_TM,수신거부여부_메일,수신거부여부_DM,이용금액_R3M_신용체크,이용금액_R3M_신용,_1순위카드이용금액,이용카드수_신용체크,_2순위카드이용금액,_1순위카드이용건수,_2순위카드이용건수,이용카드수_신용
0,201807,TRAIN_000000,0,0,0,0,0,196,196,3681,1,0,26,0,1
1,201807,TRAIN_000001,0,0,0,0,0,13475,13475,13323,1,0,46,0,1
2,201807,TRAIN_000002,1,1,0,0,0,23988,23988,24493,1,0,28,0,1
3,201807,TRAIN_000003,1,1,0,0,0,3904,3904,5933,1,0,1,0,1
4,201807,TRAIN_000004,1,1,0,0,0,1190,0,0,1,0,-2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1,1,0,0,0,10755,7267,5640,1,0,3,0,0
2399996,201812,TRAIN_399996,1,1,0,0,0,27636,27636,26357,1,0,38,0,1
2399997,201812,TRAIN_399997,1,1,1,1,1,23187,23187,17171,1,0,33,0,1
2399998,201812,TRAIN_399998,0,0,1,1,1,0,0,0,0,0,-2,0,0
2399999,201812,TRAIN_399999,0,0,1,1,1,21463,21463,6984,2,14564,-2,52,2

In [4]:
df2

           기준년월            ID  상향가능한도금액  상향가능CA한도금액
0        201807  TRAIN_000000         0           0
1        201807  TRAIN_000001         4           1
2        201807  TRAIN_000002         0           0
3        201807  TRAIN_000003         0           0
4        201807  TRAIN_000004         0           0
...         ...           ...       ...         ...
2399995  201812  TRAIN_399995         3           1
2399996  201812  TRAIN_399996        10           3
2399997  201812  TRAIN_399997         0           0
2399998  201812  TRAIN_399998         4           1
2399999  201812  TRAIN_399999         8           2

[2400000 rows x 4 columns]

In [5]:
df3

,기준년월,ID,정상청구원금_B5M,정상청구원금_B0M,정상청구원금_B2M,이용금액_일시불_R12M,이용금액_일시불_B0M,이용금액_오프라인_B0M,이용금액_일시불_R6M,이용금액_일시불_R3M,...,쇼핑_마트_이용금액,쇼핑_슈퍼마켓_이용금액,교통_주유이용금액,이용금액_온라인_B0M,연체입금원금_B5M,연체입금원금_B2M,이용금액_페이_온라인_B0M,_1순위쇼핑업종_이용금액,연속유실적개월수_기본_24M_카드,이용금액대
0,201807,TRAIN_000000,14958,14440,16524,20667,1995,4043,8380,2877,...,0,0,0,0,5752,398,0,242,13,01.100만원+
1,201807,TRAIN_000001,3367,6024,2420,54341,2862,3980,19426,14316,...,0,435,1215,0,821,0,0,645,12,03.30만원+
2,201807,TRAIN_000002,23963,21929,21826,55656,5854,4524,35136,15694,...,924,504,1362,1625,7014,7378,0,6094,8,01.100만원+
3,201807,TRAIN_000003,19614,18563,19172,10753,387,3975,-7031,-2710,...,801,487,0,0,11196,6128,0,801,5,01.100만원+
4,201807,TRAIN_000004,0,0,272,-2129,0,0,957,-3383,...,0,0,0,0,0,272,0,0,0,09.미사용
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,0,19,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,09.미사용
2399996,201812,TRAIN_399996,23742,13462,14844,148106,7663,4676,58916,24946,...,0,714,0,0,1910,4080,0,1496,17,01.100만원+
2399997,201812,TRAIN_399997,4125,7049,6862,52233,4545,4516,26974,13424,...,0,400,1925,671,856,755,0,1458,24,02.50만원+
2399998,201812,TRAIN_399998,507,0,0,0,0,0,0,0,...,0,0,0,0,507,0,0,0,0,09.미사용
2399999,201812,TRAIN_399999,4514,3129,5357,12962,2693,0,18887,9334,...,0,0,0,0,866,2184,0,985,5,04.10만원+

In [6]:
df4

                   ID    기준년월  청구금액_R6M  청구금액_R3M  청구금액_B0 할인건수_R3M
0        TRAIN_000000  201807     88693     46588    12226    1회 이상
1        TRAIN_000001  201807     16861     10530     5834    1회 이상
2        TRAIN_000002  201807    165221     85931    21866    1회 이상
3        TRAIN_000003  201807    127371     61518    16356    1회 이상
4        TRAIN_000004  201807       155         0        0    1회 이상
...               ...     ...       ...       ...      ...      ...
2399995  TRAIN_399995  201812         0         0        0    1회 이상
2399996  TRAIN_399996  201812     99849     37515    14402    1회 이상
2399997  TRAIN_399997  201812     41073     22274     5731    1회 이상
2399998  TRAIN_399998  201812         0         0        0    1회 이상
2399999  TRAIN_399999  201812     19948      9704     3422    1회 이상

[2400000 rows x 6 columns]

In [7]:
df5

,ID,기준년월,월중평잔_일시불_B0M,월중평잔_일시불,평잔_일시불_3M,잔액_일시불_B0M,잔액_일시불_B1M,잔액_일시불_B2M
0,TRAIN_000000,201807,1084,1503,1791,998,736,1083
1,TRAIN_000001,201807,4090,4447,3761,2565,6795,1424
2,TRAIN_000002,201807,5006,5540,6796,5312,5150,6143
3,TRAIN_000003,201807,487,606,772,730,462,708
4,TRAIN_000004,201807,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
2399995,TRAIN_399995,201812,0,0,0,0,0,0
2399996,TRAIN_399996,201812,4412,5515,9424,3351,4142,4362
2399997,TRAIN_399997,201812,2694,3046,2998,2524,1523,2898
2399998,TRAIN_399998,201812,0,0,0,0,0,0
2399999,TRAIN_399999,201812,980,980,1042,1148,1663,972

In [8]:
df6

           기준년월            ID 인입횟수_ARS_R6M
0        201807  TRAIN_000000       10회 이상
1        201807  TRAIN_000001        1회 이상
2        201807  TRAIN_000002        1회 이상
3        201807  TRAIN_000003       10회 이상
4        201807  TRAIN_000004        1회 이상
...         ...           ...          ...
2399995  201812  TRAIN_399995        1회 이상
2399996  201812  TRAIN_399996        1회 이상
2399997  201812  TRAIN_399997        1회 이상
2399998  201812  TRAIN_399998        1회 이상
2399999  201812  TRAIN_399999        1회 이상

[2400000 rows x 3 columns]

In [9]:
# 1. 먼저 기준이 되는 df1부터 시작
merged_df = df1.copy()

# 2. ID & 기준년월 기준으로 순차 병합
merged_df = merged_df.merge(df2, on=['ID', '기준년월'], how='inner')
merged_df = merged_df.merge(df3, on=['ID', '기준년월'], how='inner')
merged_df = merged_df.merge(df4, on=['ID', '기준년월'], how='inner')
merged_df = merged_df.merge(df5, on=['ID', '기준년월'], how='inner')
merged_df = merged_df.merge(df6, on=['ID', '기준년월'], how='inner')

In [10]:
merged_df

,기준년월,ID,이용가능여부_해외겸용_본인,보유여부_해외겸용_본인,수신거부여부_TM,수신거부여부_메일,수신거부여부_DM,이용금액_R3M_신용체크,이용금액_R3M_신용,_1순위카드이용금액,...,청구금액_R3M,청구금액_B0,할인건수_R3M,월중평잔_일시불_B0M,월중평잔_일시불,평잔_일시불_3M,잔액_일시불_B0M,잔액_일시불_B1M,잔액_일시불_B2M,인입횟수_ARS_R6M
0,201807,TRAIN_000000,0,0,0,0,0,196,196,3681,...,46588,12226,1회 이상,1084,1503,1791,998,736,1083,10회 이상
1,201807,TRAIN_000001,0,0,0,0,0,13475,13475,13323,...,10530,5834,1회 이상,4090,4447,3761,2565,6795,1424,1회 이상
2,201807,TRAIN_000002,1,1,0,0,0,23988,23988,24493,...,85931,21866,1회 이상,5006,5540,6796,5312,5150,6143,1회 이상
3,201807,TRAIN_000003,1,1,0,0,0,3904,3904,5933,...,61518,16356,1회 이상,487,606,772,730,462,708,10회 이상
4,201807,TRAIN_000004,1,1,0,0,0,1190,0,0,...,0,0,1회 이상,0,0,0,0,0,0,1회 이상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1,1,0,0,0,10755,7267,5640,...,0,0,1회 이상,0,0,0,0,0,0,1회 이상
2399996,201812,TRAIN_399996,1,1,0,0,0,27636,27636,26357,...,37515,14402,1회 이상,4412,5515,9424,3351,4142,4362,1회 이상
2399997,201812,TRAIN_399997,1,1,1,1,1,23187,23187,17171,...,22274,5731,1회 이상,2694,3046,2998,2524,1523,2898,1회 이상
2399998,201812,TRAIN_399998,0,0,1,1,1,0,0,0,...,0,0,1회 이상,0,0,0,0,0,0,1회 이상
2399999,201812,TRAIN_399999,0,0,1,1,1,21463,21463,6984,...,9704,3422,1회 이상,980,980,1042,1148,1663,972,1회 이상

In [11]:
train_df2=merged_df.copy()

train_df2['이용금액대'] = train_df2['이용금액대'].factorize()[0]
train_df2['이용가능여부_해외겸용_본인'] = train_df2['이용가능여부_해외겸용_본인'].factorize()[0]
train_df2['보유여부_해외겸용_본인'] = train_df2['보유여부_해외겸용_본인'].factorize()[0]
train_df2['상향가능한도금액'] = train_df2['상향가능한도금액'].factorize()[0]
train_df2['상향가능CA한도금액'] = train_df2['상향가능CA한도금액'].factorize()[0]
train_df2['할인건수_R3M'] = train_df2['할인건수_R3M'].factorize()[0]
train_df2['인입횟수_ARS_R6M'] = train_df2['인입횟수_ARS_R6M'].factorize()[0]
train_df2['수신거부여부_TM'] = train_df2['수신거부여부_TM'].factorize()[0]
train_df2['수신거부여부_메일'] = train_df2['수신거부여부_메일'].factorize()[0]
train_df2['수신거부여부_DM'] = train_df2['수신거부여부_DM'].factorize()[0]
train_df2

,기준년월,ID,이용가능여부_해외겸용_본인,보유여부_해외겸용_본인,수신거부여부_TM,수신거부여부_메일,수신거부여부_DM,이용금액_R3M_신용체크,이용금액_R3M_신용,_1순위카드이용금액,...,청구금액_R3M,청구금액_B0,할인건수_R3M,월중평잔_일시불_B0M,월중평잔_일시불,평잔_일시불_3M,잔액_일시불_B0M,잔액_일시불_B1M,잔액_일시불_B2M,인입횟수_ARS_R6M
0,201807,TRAIN_000000,0,0,0,0,0,196,196,3681,...,46588,12226,0,1084,1503,1791,998,736,1083,0
1,201807,TRAIN_000001,0,0,0,0,0,13475,13475,13323,...,10530,5834,0,4090,4447,3761,2565,6795,1424,1
2,201807,TRAIN_000002,1,1,0,0,0,23988,23988,24493,...,85931,21866,0,5006,5540,6796,5312,5150,6143,1
3,201807,TRAIN_000003,1,1,0,0,0,3904,3904,5933,...,61518,16356,0,487,606,772,730,462,708,0
4,201807,TRAIN_000004,1,1,0,0,0,1190,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1,1,0,0,0,10755,7267,5640,...,0,0,0,0,0,0,0,0,0,1
2399996,201812,TRAIN_399996,1,1,0,0,0,27636,27636,26357,...,37515,14402,0,4412,5515,9424,3351,4142,4362,1
2399997,201812,TRAIN_399997,1,1,1,1,1,23187,23187,17171,...,22274,5731,0,2694,3046,2998,2524,1523,2898,1
2399998,201812,TRAIN_399998,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2399999,201812,TRAIN_399999,0,0,1,1,1,21463,21463,6984,...,9704,3422,0,980,980,1042,1148,1663,972,1

In [12]:
sorted(train_df2.columns)

['ID',
 '_1순위교통업종_이용금액',
 '_1순위쇼핑업종_이용금액',
 '_1순위업종_이용금액',
 '_1순위카드이용건수',
 '_1순위카드이용금액',
 '_2순위쇼핑업종_이용금액',
 '_2순위업종_이용금액',
 '_2순위카드이용건수',
 '_2순위카드이용금액',
 '_3순위쇼핑업종_이용금액',
 '_3순위업종_이용금액',
 '교통_주유이용금액',
 '기준년월',
 '보유여부_해외겸용_본인',
 '상향가능CA한도금액',
 '상향가능한도금액',
 '쇼핑_도소매_이용금액',
 '쇼핑_마트_이용금액',
 '쇼핑_슈퍼마켓_이용금액',
 '수신거부여부_DM',
 '수신거부여부_TM',
 '수신거부여부_메일',
 '연속유실적개월수_기본_24M_카드',
 '연체입금원금_B0M',
 '연체입금원금_B2M',
 '연체입금원금_B5M',
 '월중평잔_일시불',
 '월중평잔_일시불_B0M',
 '이용가능여부_해외겸용_본인',
 '이용가맹점수',
 '이용건수_신용_B0M',
 '이용건수_신용_R12M',
 '이용건수_신용_R3M',
 '이용건수_신용_R6M',
 '이용건수_신판_B0M',
 '이용건수_신판_R12M',
 '이용건수_신판_R3M',
 '이용건수_신판_R6M',
 '이용건수_오프라인_B0M',
 '이용건수_오프라인_R3M',
 '이용건수_오프라인_R6M',
 '이용건수_일시불_B0M',
 '이용건수_일시불_R12M',
 '이용건수_일시불_R3M',
 '이용건수_일시불_R6M',
 '이용금액_R3M_신용',
 '이용금액_R3M_신용체크',
 '이용금액_오프라인_B0M',
 '이용금액_오프라인_R3M',
 '이용금액_오프라인_R6M',
 '이용금액_온라인_B0M',
 '이용금액_일시불_B0M',
 '이용금액_일시불_R12M',
 '이용금액_일시불_R3M',
 '이용금액_일시불_R6M',
 '이용금액_페이_온라인_B0M',
 '이용금액대',
 '이용카드수_신용',
 '이용카드수_신용체크',
 '인입횟수_ARS_R6M',
 '잔액_일시불_B0M',
 '잔액_일시불_B1M',
 '잔액_일시불_B2M',
 '정상입금원금_B0M',
 '정상입금원금_B2M',
 '정상입금원금_B5M',
 '정상청구원금_B0M',
 '정상청구원금_B2M',
 '정상청구원금_B5M',
 '청구금액_B0',
 '청구금액_R3M',
 '청구금액_R6M',
 '최대이용금액_일시불_R12M',
 '평잔_일시불_3M',
 '할인건수_R3M']

### 7월

In [13]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

train_df3 = train_df2[train_df2['기준년월'] == 201807]
train_df3

,기준년월,ID,이용가능여부_해외겸용_본인,보유여부_해외겸용_본인,수신거부여부_TM,수신거부여부_메일,수신거부여부_DM,이용금액_R3M_신용체크,이용금액_R3M_신용,_1순위카드이용금액,이용카드수_신용체크,_2순위카드이용금액,_1순위카드이용건수,_2순위카드이용건수,이용카드수_신용,상향가능한도금액,상향가능CA한도금액,정상청구원금_B5M,정상청구원금_B0M,정상청구원금_B2M,이용금액_일시불_R12M,이용금액_일시불_B0M,이용금액_오프라인_B0M,이용금액_일시불_R6M,이용금액_일시불_R3M,정상입금원금_B5M,정상입금원금_B0M,이용금액_오프라인_R3M,이용금액_오프라인_R6M,정상입금원금_B2M,_3순위업종_이용금액,_2순위업종_이용금액,이용건수_신용_R12M,_2순위쇼핑업종_이용금액,최대이용금액_일시불_R12M,이용건수_신판_R12M,이용건수_일시불_R12M,_1순위업종_이용금액,_3순위쇼핑업종_이용금액,이용가맹점수,이용건수_오프라인_B0M,이용건수_오프라인_R6M,이용건수_오프라인_R3M,쇼핑_도소매_이용금액,이용건수_신용_R6M,이용건수_신용_B0M,이용건수_신용_R3M,이용건수_신판_R6M,이용건수_신판_B0M,이용건수_신판_R3M,이용건수_일시불_R6M,이용건수_일시불_B0M,이용건수_일시불_R3M,_1순위교통업종_이용금액,연체입금원금_B0M,쇼핑_마트_이용금액,쇼핑_슈퍼마켓_이용금액,교통_주유이용금액,이용금액_온라인_B0M,연체입금원금_B5M,연체입금원금_B2M,이용금액_페이_온라인_B0M,_1순위쇼핑업종_이용금액,연속유실적개월수_기본_24M_카드,이용금액대,청구금액_R6M,청구금액_R3M,청구금액_B0,할인건수_R3M,월중평잔_일시불_B0M,월중평잔_일시불,평잔_일시불_3M,잔액_일시불_B0M,잔액_일시불_B1M,잔액_일시불_B2M,인입횟수_ARS_R6M
0,201807,TRAIN_000000,0,0,0,0,0,196,196,3681,1,0,26,0,1,0,0,14958,14440,16524,20667,1995,4043,8380,2877,9205,6335,4131,11097,16125,672,1408,165,0,4906,146,143,1928,0,6,7,54,17,0,77,11,27,67,9,22,64,8,21,200,8104,0,0,0,0,5752,398,0,242,13,0,88693,46588,12226,0,1084,1503,1791,998,736,1083,0
1,201807,TRAIN_000001,0,0,0,0,0,13475,13475,13323,1,0,46,0,1,1,1,3367,6024,2420,54341,2862,3980,19426,14316,2546,5198,14339,18638,2420,1659,2083,204,435,10407,202,202,2158,315,32,15,95,51,645,81,13,43,81,13,43,81,13,43,1215,826,0,435,1215,0,821,0,0,645,12,1,16861,10530,5834,0,4090,4447,3761,2565,6795,1424,1
2,201807,TRAIN_000002,1,1,0,0,0,23988,23988,24493,1,0,28,0,1,0,0,23963,21929,21826,55656,5854,4524,35136,15694,16949,12564,12250,29192,14448,1362,1539,148,1038,10112,134,131,16924,924,27,12,76,33,1038,62,12,36,56,10,33,54,10,31,1362,9364,924,504,1362,1625,7014,7378,0,6094,8,0,165221,85931,21866,0,5006,5540,6796,5312,5150,6143,1
3,201807,TRAIN_000003,1,1,0,0,0,3904,3904,5933,1,0,1,0,1,0,0,19614,18563,19172,10753,387,3975,-7031,-2710,8418,7639,10408,18056,13043,774,2284,105,487,3075,85,74,2405,0,10,8,39,19,0,42,6,21,32,4,16,26,3,13,208,10923,801,487,0,0,11196,6128,0,801,5,0,127371,61518,16356,0,487,606,772,730,462,708,0
4,201807,TRAIN_000004,1,1,0,0,0,1190,0,0,1,0,-2,0,0,0,0,0,0,272,-2129,0,0,957,-3383,0,0,0,787,0,0,0,-1,0,62,-1,-1,0,0,0,0,0,0,0,-2,-2,0,-2,-2,0,-2,-2,0,0,0,0,0,0,0,0,272,0,0,0,2,155,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,201807,TRAIN_399995,1,1,0,0,0,2091,0,0,1,0,1,0,0,2,1,579,0,0,0,0,0,0,-1274,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,579,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1
399996,201807,TRAIN_399996,1,1,0,0,0,55111,55111,51615,1,0,64,0,1,10,3,30348,23742,20929,207754,12988,12312,99067,49255,30348,21831,33240,78453,15756,2313,8612,292,1065,36896,292,292,8756,786,31,13,100,39,2802,137,21,64,137,21,64,137,21,64,723,1910,0,786,0,0,0,5173,0,2802,20,0,194915,79682,28825,0,10598,11321,11554,6374,12113,6533,1
399997,201807,TRAIN_399997,1,1,1,1,1,14172,14172,12996,1,0,29,0,1,0,0,11489,4125,8746,37349,4363,9739,16136,7729,5128,3269,11835,22341,6185,1873,2162,150,407,6846,150,143,3136,313,25,13,49,27,0,58,16,33,58,16,33,54,15,32,1742,856,0,407,1742,681,6360,2561,0,1140,24,4,32803,15577,3911,0,1831,2144,2407,2168,845,1743,1
399998,201807,TRAIN_399998,0,0,1,1,1,0,0,0,0,0,-2,0,0,2,1,672,507,467,0,0,0,0,-441,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-2,-1,0,-2,-1,0,-2,-1,0,0,507,0,0,0,0,672,467,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1
399999,201807,TRAIN_399999,0,0,1,1,1,22796,22796,10250,2,11023,-1,41,2,7,3,7368,4514,6862,22727,3415,4537,14253,6857,4975,3647,11861,43696,6862,769,2758,30,942,7553,30,17,3598,0,3,5,16,6,0,11,4,0,11,4,0,4,3,-2,0,866,1190,0,0,0,2392,0,0,1190,1,4,32444,12324,2696,0,637,736,1388,1110,0,896,1

In [14]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm

# vif 표를 출력한 후 vif 계수가 높다고 생각되는 컬럼들을 추가하여 계속 돌려보요요
# vif_X = train_df2.drop(['Transported'], axis=1)
# vif_X = train_df2.drop(['Transported', 'NumberInGroup'], axis=1)
vif_X = train_df3.drop(['ID', '기준년월'], axis=1)

# vif를 계산하기 위해 상수항을 추가한다.
vif_X2 = sm.add_constant(vif_X)

vif_X2

,const,이용가능여부_해외겸용_본인,보유여부_해외겸용_본인,수신거부여부_TM,수신거부여부_메일,수신거부여부_DM,이용금액_R3M_신용체크,이용금액_R3M_신용,_1순위카드이용금액,이용카드수_신용체크,_2순위카드이용금액,_1순위카드이용건수,_2순위카드이용건수,이용카드수_신용,상향가능한도금액,상향가능CA한도금액,정상청구원금_B5M,정상청구원금_B0M,정상청구원금_B2M,이용금액_일시불_R12M,이용금액_일시불_B0M,이용금액_오프라인_B0M,이용금액_일시불_R6M,이용금액_일시불_R3M,정상입금원금_B5M,정상입금원금_B0M,이용금액_오프라인_R3M,이용금액_오프라인_R6M,정상입금원금_B2M,_3순위업종_이용금액,_2순위업종_이용금액,이용건수_신용_R12M,_2순위쇼핑업종_이용금액,최대이용금액_일시불_R12M,이용건수_신판_R12M,이용건수_일시불_R12M,_1순위업종_이용금액,_3순위쇼핑업종_이용금액,이용가맹점수,이용건수_오프라인_B0M,이용건수_오프라인_R6M,이용건수_오프라인_R3M,쇼핑_도소매_이용금액,이용건수_신용_R6M,이용건수_신용_B0M,이용건수_신용_R3M,이용건수_신판_R6M,이용건수_신판_B0M,이용건수_신판_R3M,이용건수_일시불_R6M,이용건수_일시불_B0M,이용건수_일시불_R3M,_1순위교통업종_이용금액,연체입금원금_B0M,쇼핑_마트_이용금액,쇼핑_슈퍼마켓_이용금액,교통_주유이용금액,이용금액_온라인_B0M,연체입금원금_B5M,연체입금원금_B2M,이용금액_페이_온라인_B0M,_1순위쇼핑업종_이용금액,연속유실적개월수_기본_24M_카드,이용금액대,청구금액_R6M,청구금액_R3M,청구금액_B0,할인건수_R3M,월중평잔_일시불_B0M,월중평잔_일시불,평잔_일시불_3M,잔액_일시불_B0M,잔액_일시불_B1M,잔액_일시불_B2M,인입횟수_ARS_R6M
0,1.0,0,0,0,0,0,196,196,3681,1,0,26,0,1,0,0,14958,14440,16524,20667,1995,4043,8380,2877,9205,6335,4131,11097,16125,672,1408,165,0,4906,146,143,1928,0,6,7,54,17,0,77,11,27,67,9,22,64,8,21,200,8104,0,0,0,0,5752,398,0,242,13,0,88693,46588,12226,0,1084,1503,1791,998,736,1083,0
1,1.0,0,0,0,0,0,13475,13475,13323,1,0,46,0,1,1,1,3367,6024,2420,54341,2862,3980,19426,14316,2546,5198,14339,18638,2420,1659,2083,204,435,10407,202,202,2158,315,32,15,95,51,645,81,13,43,81,13,43,81,13,43,1215,826,0,435,1215,0,821,0,0,645,12,1,16861,10530,5834,0,4090,4447,3761,2565,6795,1424,1
2,1.0,1,1,0,0,0,23988,23988,24493,1,0,28,0,1,0,0,23963,21929,21826,55656,5854,4524,35136,15694,16949,12564,12250,29192,14448,1362,1539,148,1038,10112,134,131,16924,924,27,12,76,33,1038,62,12,36,56,10,33,54,10,31,1362,9364,924,504,1362,1625,7014,7378,0,6094,8,0,165221,85931,21866,0,5006,5540,6796,5312,5150,6143,1
3,1.0,1,1,0,0,0,3904,3904,5933,1,0,1,0,1,0,0,19614,18563,19172,10753,387,3975,-7031,-2710,8418,7639,10408,18056,13043,774,2284,105,487,3075,85,74,2405,0,10,8,39,19,0,42,6,21,32,4,16,26,3,13,208,10923,801,487,0,0,11196,6128,0,801,5,0,127371,61518,16356,0,487,606,772,730,462,708,0
4,1.0,1,1,0,0,0,1190,0,0,1,0,-2,0,0,0,0,0,0,272,-2129,0,0,957,-3383,0,0,0,787,0,0,0,-1,0,62,-1,-1,0,0,0,0,0,0,0,-2,-2,0,-2,-2,0,-2,-2,0,0,0,0,0,0,0,0,272,0,0,0,2,155,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,1.0,1,1,0,0,0,2091,0,0,1,0,1,0,0,2,1,579,0,0,0,0,0,0,-1274,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,579,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1
399996,1.0,1,1,0,0,0,55111,55111,51615,1,0,64,0,1,10,3,30348,23742,20929,207754,12988,12312,99067,49255,30348,21831,33240,78453,15756,2313,8612,292,1065,36896,292,292,8756,786,31,13,100,39,2802,137,21,64,137,21,64,137,21,64,723,1910,0,786,0,0,0,5173,0,2802,20,0,194915,79682,28825,0,10598,11321,11554,6374,12113,6533,1
399997,1.0,1,1,1,1,1,14172,14172,12996,1,0,29,0,1,0,0,11489,4125,8746,37349,4363,9739,16136,7729,5128,3269,11835,22341,6185,1873,2162,150,407,6846,150,143,3136,313,25,13,49,27,0,58,16,33,58,16,33,54,15,32,1742,856,0,407,1742,681,6360,2561,0,1140,24,4,32803,15577,3911,0,1831,2144,2407,2168,845,1743,1
399998,1.0,0,0,1,1,1,0,0,0,0,0,-2,0,0,2,1,672,507,467,0,0,0,0,-441,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-2,-1,0,-2,-1,0,-2,-1,0,0,507,0,0,0,0,672,467,0,0,0,2,0,0,0,0,0,0,0,0,0,0,1
399999,1.0,0,0,1,1,1,22796,22796,10250,2,11023,-1,41,2,7,3,7368,4514,6862,22727,3415,4537,14253,6857,4975,3647,11861,43696,6862,769,2758,30,942,7553,30,17,3598,0,3,5,16,6,0,11,4,0,11,4,0,4,3,-2,0,866,1190,0,0,0,2392,0,0,1190,1,4,32444,12324,2696,0,637,736,1388,1110,0,896,1

In [15]:
# vif를 계산한다.
vif = pd.DataFrame()
vif['변수'] = vif_X2.columns
vif['VIF'] = [variance_inflation_factor(vif_X2.values, i) for i in range(vif_X2.shape[1])]
vif

                변수        VIF
0            const  60.294970
1   이용가능여부_해외겸용_본인   7.018360
2     보유여부_해외겸용_본인   6.723631
3        수신거부여부_TM   3.447410
4        수신거부여부_메일   8.285762
..             ...        ...
70       평잔_일시불_3M  39.390837
71      잔액_일시불_B0M  35.079351
72      잔액_일시불_B1M  14.254268
73      잔액_일시불_B2M  17.387070
74    인입횟수_ARS_R6M   1.189255

[75 rows x 2 columns]

In [16]:
pd.set_option('display.max_rows', None)
vif_sorted = vif.sort_values(by='VIF', ascending=False)
display(vif_sorted)

                    변수            VIF
46         이용건수_신판_R6M  163660.044854
43         이용건수_신용_R6M  133731.530491
34        이용건수_신판_R12M  109829.119405
31        이용건수_신용_R12M   96999.675212
48         이용건수_신판_R3M   91995.559225
45         이용건수_신용_R3M   66074.204700
49        이용건수_일시불_R6M   29061.848881
51        이용건수_일시불_R3M   26493.679443
47         이용건수_신판_B0M   23139.392656
35       이용건수_일시불_R12M   13335.779378
44         이용건수_신용_B0M   13072.935340
50        이용건수_일시불_B0M    9947.770901
7          이용금액_R3M_신용     145.684379
8           _1순위카드이용금액     110.846620
23        이용금액_일시불_R3M     107.605562
22        이용금액_일시불_R6M     105.120658
20        이용금액_일시불_B0M      96.912763
17          정상청구원금_B0M      91.393823
18          정상청구원금_B2M      87.276661
11          _1순위카드이용건수      79.193091
68        월중평잔_일시불_B0M      68.844497
16          정상청구원금_B5M      68.325351
69            월중평잔_일시불      67.265325
0                const      60.294970
41       이용건수_오프라인_R3M      56.290081
25          정상입금원금_B0M      55.876236
28          정상입금원금_B2M      55.324640
40       이용건수_오프라인_R6M      46.831578
39       이용건수_오프라인_B0M      44.493882
24          정상입금원금_B5M      41.982760
70           평잔_일시불_3M      39.390837
10          _2순위카드이용금액      36.554915
38              이용가맹점수      35.890436
71          잔액_일시불_B0M      35.079351
19       이용금액_일시불_R12M      29.196940
65            청구금액_R3M      27.384854
52       _1순위교통업종_이용금액      27.150404
56           교통_주유이용금액      23.014883
66             청구금액_B0      22.522027
26       이용금액_오프라인_R3M      21.870072
27       이용금액_오프라인_R6M      19.251577
59          연체입금원금_B2M      18.112826
6        이용금액_R3M_신용체크      17.854203
57        이용금액_온라인_B0M      17.513902
73          잔액_일시불_B2M      17.387070
12          _2순위카드이용건수      16.499649
53          연체입금원금_B0M      15.794671
64            청구금액_R6M      14.355804
58          연체입금원금_B5M      14.312605
37       _3순위쇼핑업종_이용금액      14.299596
72          잔액_일시불_B1M      14.254268
13            이용카드수_신용      12.137657
32       _2순위쇼핑업종_이용금액      11.409986
5            수신거부여부_DM      10.803687
9           이용카드수_신용체크      10.398890
21       이용금액_오프라인_B0M       9.683926
4            수신거부여부_메일       8.285762
61       _1순위쇼핑업종_이용금액       8.094841
29         _3순위업종_이용금액       7.513367
36         _1순위업종_이용금액       7.196848
60     이용금액_페이_온라인_B0M       7.067839
1       이용가능여부_해외겸용_본인       7.018360
2         보유여부_해외겸용_본인       6.723631
30         _2순위업종_이용금액       6.719033
42         쇼핑_도소매_이용금액       6.251540
55        쇼핑_슈퍼마켓_이용금액       5.229826
33     최대이용금액_일시불_R12M       4.911425
54          쇼핑_마트_이용금액       3.642440
3            수신거부여부_TM       3.447410
62  연속유실적개월수_기본_24M_카드       2.259591
15          상향가능CA한도금액       2.171780
14            상향가능한도금액       2.097418
63               이용금액대       1.882758
67            할인건수_R3M       1.546118
74        인입횟수_ARS_R6M       1.189255

In [17]:
vif_sorted.to_csv('VIF1.csv', index=False, encoding='utf-8-sig')

### 8월

In [18]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

train_df4 = train_df2[train_df2['기준년월'] == 201808]
train_df4

KeyboardInterrupt:

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm

# vif 표를 출력한 후 vif 계수가 높다고 생각되는 컬럼들을 추가하여 계속 돌려보요요
# vif_X = train_df2.drop(['Transported'], axis=1)
# vif_X = train_df2.drop(['Transported', 'NumberInGroup'], axis=1)
vif_X21 = train_df4.drop(['ID', '기준년월'], axis=1)

# vif를 계산하기 위해 상수항을 추가한다.
vif_X22 = sm.add_constant(vif_X21)

vif_X22

In [ ]:
# vif를 계산한다.
vif2 = pd.DataFrame()
vif2['변수'] = vif_X22.columns
vif2['VIF'] = [variance_inflation_factor(vif_X22.values, i) for i in range(vif_X22.shape[1])]
vif2

In [ ]:
pd.set_option('display.max_rows', None)
vif_sorted2 = vif2.sort_values(by='VIF', ascending=False)
display(vif_sorted2)

---

In [40]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm

# vif 표를 출력한 후 vif 계수가 높다고 생각되는 컬럼들을 추가하여 계속 돌려보요요
# vif_X = train_df2.drop(['Transported'], axis=1)
# vif_X = train_df2.drop(['Transported', 'NumberInGroup'], axis=1)
vif_X = train_df3[['_1순위교통업종_이용금액', '_1순위쇼핑업종_이용금액', '_1순위업종_이용금액','_1순위카드이용건수', '_1순위카드이용금액', '_2순위쇼핑업종_이용금액', '_2순위업종_이용금액', '_2순위카드이용건수', '_2순위카드이용금액', '_3순위쇼핑업종_이용금액', '_3순위업종_이용금액']]

# vif를 계산하기 위해 상수항을 추가한다.
vif_X2 = sm.add_constant(vif_X)
# vif를 계산한다.
vif = pd.DataFrame()
vif['변수'] = vif_X2.columns
vif['VIF'] = [variance_inflation_factor(vif_X2.values, i) for i in range(vif_X2.shape[1])]
vif

               변수        VIF
0           const   1.845006
1   _1순위교통업종_이용금액   2.738303
2   _1순위쇼핑업종_이용금액   2.783988
3     _1순위업종_이용금액   5.958456
4      _1순위카드이용건수   3.889083
5      _1순위카드이용금액   7.374697
6   _2순위쇼핑업종_이용금액   8.583292
7     _2순위업종_이용금액   5.589978
8      _2순위카드이용건수  14.074250
9      _2순위카드이용금액  14.605543
10  _3순위쇼핑업종_이용금액   8.515524
11    _3순위업종_이용금액   6.515630