In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

import warnings 
warnings.filterwarnings('ignore')

sns.set() 

plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['figure.figsize'] = 12, 6 
plt.rcParams['font.size'] = 14 
plt.rcParams['axes.unicode_minus'] = False 

# 결측치 시각화를 위한 라이브러리
import missingno 

# 데이터 전처리 알고리즘 
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import StandardScaler 

# 학습용과 검증용으로 나누는  함수 
from sklearn.model_selection import train_test_split 

# 교차검증 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한도구 
from sklearn.model_selection import GridSearchCV 

# 머신러닝 알고리즘 - 분류 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn.svm import SVC 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import AdaBoostClassifier 
from sklearn.ensemble import GradientBoostingClassifier 
from lightgbm import LGBMClassifier 
from xgboost import XGBClassifier 
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀 
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import Ridge 
from sklearn.linear_model import Lasso 
from sklearn.linear_model import ElasticNet 
from sklearn.svm import SVR 
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor 
from sklearn.ensemble import GradientBoostingRegressor 
from lightgbm import LGBMRegressor 
from xgboost import XGBRegressor 
from sklearn.ensemble import VotingRegressor 

# 학습 모델 저장을 위한 라이브러리
import pickle

In [21]:
df1 = pd.read_parquet(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\VIF\신용카드데이터.parquet')
df1

,기준년월,ID,소지카드수_이용가능_신용,소지카드수_유효_신용,이용가능여부_해외겸용_본인,보유여부_해외겸용_본인,수신거부여부_TM,수신거부여부_메일,수신거부여부_DM,이용금액_R3M_신용체크,...,청구금액_R3M,청구금액_B0,할인건수_R3M,월중평잔_일시불_B0M,월중평잔_일시불,평잔_일시불_3M,잔액_일시불_B0M,잔액_일시불_B1M,잔액_일시불_B2M,인입횟수_ARS_R6M
0,201807,TRAIN_000000,1,1,0,0,0,0,0,196,...,46588,12226,1회 이상,1084,1503,1791,998,736,1083,10회 이상
1,201807,TRAIN_000001,1,1,0,0,0,0,0,13475,...,10530,5834,1회 이상,4090,4447,3761,2565,6795,1424,1회 이상
2,201807,TRAIN_000002,1,1,1,1,0,0,0,23988,...,85931,21866,1회 이상,5006,5540,6796,5312,5150,6143,1회 이상
3,201807,TRAIN_000003,2,2,1,1,0,0,0,3904,...,61518,16356,1회 이상,487,606,772,730,462,708,10회 이상
4,201807,TRAIN_000004,1,1,1,1,0,0,0,1190,...,0,0,1회 이상,0,0,0,0,0,0,1회 이상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,1,1,1,1,0,0,0,10755,...,0,0,1회 이상,0,0,0,0,0,0,1회 이상
2399996,201812,TRAIN_399996,1,1,1,1,0,0,0,27636,...,37515,14402,1회 이상,4412,5515,9424,3351,4142,4362,1회 이상
2399997,201812,TRAIN_399997,1,1,1,1,1,1,1,23187,...,22274,5731,1회 이상,2694,3046,2998,2524,1523,2898,1회 이상
2399998,201812,TRAIN_399998,1,1,0,0,1,1,1,0,...,0,0,1회 이상,0,0,0,0,0,0,1회 이상
2399999,201812,TRAIN_399999,1,1,0,0,1,1,1,21463,...,9704,3422,1회 이상,980,980,1042,1148,1663,972,1회 이상

In [3]:
df2 = df1.select_dtypes(include='number').fillna(0)
df2

,기준년월,소지카드수_이용가능_신용,소지카드수_유효_신용,이용가능여부_해외겸용_본인,보유여부_해외겸용_본인,수신거부여부_TM,수신거부여부_메일,수신거부여부_DM,이용금액_R3M_신용체크,이용금액_R3M_신용,...,연속유실적개월수_기본_24M_카드,청구금액_R6M,청구금액_R3M,청구금액_B0,월중평잔_일시불_B0M,월중평잔_일시불,평잔_일시불_3M,잔액_일시불_B0M,잔액_일시불_B1M,잔액_일시불_B2M
0,201807,1,1,0,0,0,0,0,196,196,...,13,88693,46588,12226,1084,1503,1791,998,736,1083
1,201807,1,1,0,0,0,0,0,13475,13475,...,12,16861,10530,5834,4090,4447,3761,2565,6795,1424
2,201807,1,1,1,1,0,0,0,23988,23988,...,8,165221,85931,21866,5006,5540,6796,5312,5150,6143
3,201807,2,2,1,1,0,0,0,3904,3904,...,5,127371,61518,16356,487,606,772,730,462,708
4,201807,1,1,1,1,0,0,0,1190,0,...,0,155,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,1,1,1,1,0,0,0,10755,7267,...,0,0,0,0,0,0,0,0,0,0
2399996,201812,1,1,1,1,0,0,0,27636,27636,...,17,99849,37515,14402,4412,5515,9424,3351,4142,4362
2399997,201812,1,1,1,1,1,1,1,23187,23187,...,24,41073,22274,5731,2694,3046,2998,2524,1523,2898
2399998,201812,1,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,201812,1,1,0,0,1,1,1,21463,21463,...,5,19948,9704,3422,980,980,1042,1148,1663,972

In [24]:
# 표준화 

scaler = StandardScaler()
df2 = scaler.fit_transform(df2)

In [25]:
from sklearn.decomposition import PCA

# pca 사용 
pca = PCA(n_components=15)

# 학습한다
pca.fit(df2)

# 데이터를 변환한다. 
r1 = pca.transform(df2)

r1

array([[-1.01325438,  3.04609759, -2.66551036, ..., -0.74792549,
         0.40136958,  0.04792832],
       [-0.37432763, -0.2800962 , -1.30792887, ..., -0.11279836,
         0.84555201,  0.24975899],
       [ 4.12125531,  6.54566595, -2.9760505 , ..., -1.98198816,
         0.68326831, -1.1461908 ],
       ...,
       [ 0.23544728,  0.6905696 ,  1.08447181, ...,  1.17479253,
         1.75371585,  0.39269603],
       [-5.71281311, -0.06940398,  0.91472442, ...,  0.62405948,
        -0.45038504, -1.11075105],
       [-2.9414691 ,  0.6247238 ,  3.10251998, ..., -0.37525694,
        -1.74195549, -0.06225584]])

In [5]:
df3 = pd.read_csv(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\파이널 프로젝트 데이터\Segment\Segment.csv')
df3

           기준년월            ID Segment
0        201807  TRAIN_000000       D
1        201807  TRAIN_000001       E
2        201807  TRAIN_000002       C
3        201807  TRAIN_000003       D
4        201807  TRAIN_000004       E
...         ...           ...     ...
2399995  201812  TRAIN_399995       E
2399996  201812  TRAIN_399996       D
2399997  201812  TRAIN_399997       C
2399998  201812  TRAIN_399998       E
2399999  201812  TRAIN_399999       E

[2400000 rows x 3 columns]

In [6]:
# r1을 데이터프레임으로 변환 (컬럼 이름은 PC1 ~ PC10)
pca_df = pd.DataFrame(r1, columns=[f'PC{i+1}' for i in range(r1.shape[1])])

pca_df['Segment'] = df3['Segment']

# 미리 보기
pca_df

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,Segment
0,-2243.552964,73177.822765,-23307.067096,7561.747711,-3243.689927,4528.594658,-4408.328915,8369.204866,-6309.014586,1232.178487,D
1,-4123.593582,-18596.799887,-5281.553919,552.003985,2047.728549,2851.121284,-2005.535571,3877.903192,-889.924536,3031.998155,E
2,93844.494952,123215.256268,-21110.839090,-7111.076114,-5582.733382,13547.760945,-1048.762701,9425.227243,1943.737327,-143.578498,C
3,10648.448182,115700.176929,-21742.094566,11510.390699,-7770.532188,-7559.367470,-5333.651801,13026.736625,-76.952317,259.297993,D
4,-76132.442576,-2534.422643,-1881.492804,724.219706,-55.011418,-2366.802657,-931.083222,71.543323,-16.547771,-290.180416,E
...,...,...,...,...,...,...,...,...,...,...,...
2399995,-70708.144668,-4606.543031,2805.802783,-7312.121135,-3526.939822,-4965.947944,220.135100,1057.678498,2360.636890,1934.651589,E
2399996,140275.356540,814.052332,-29512.108796,23504.905472,-9175.280526,5675.125397,16409.620662,2465.541968,-4928.311551,2604.850015,D
2399997,17590.595795,3334.474422,5996.492934,645.269891,-4197.372183,1762.693552,-60.440882,2115.391078,-919.578185,2820.212864,C
2399998,-75089.653851,-3665.732000,-3620.020146,709.662963,42.502412,-1556.732226,-1652.830382,84.508963,-302.824809,-692.984207,E
2399999,-35787.704450,4335.690761,7986.413539,-20718.592401,-7954.483582,-1276.950693,5377.040992,-4214.410091,-7649.978405,-4997.397601,E

In [10]:
le = LabelEncoder()
pca_df['Segment'] = le.fit_transform(pca_df['Segment'])

In [11]:
# 입력과 결과로 나눈다. 
x = pca_df.drop('Segment', axis=1)
y = pca_df['Segment']

display(x)
display(y)

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10
0,-2243.552964,73177.822765,-23307.067096,7561.747711,-3243.689927,4528.594658,-4408.328915,8369.204866,-6309.014586,1232.178487
1,-4123.593582,-18596.799887,-5281.553919,552.003985,2047.728549,2851.121284,-2005.535571,3877.903192,-889.924536,3031.998155
2,93844.494952,123215.256268,-21110.839090,-7111.076114,-5582.733382,13547.760945,-1048.762701,9425.227243,1943.737327,-143.578498
3,10648.448182,115700.176929,-21742.094566,11510.390699,-7770.532188,-7559.367470,-5333.651801,13026.736625,-76.952317,259.297993
4,-76132.442576,-2534.422643,-1881.492804,724.219706,-55.011418,-2366.802657,-931.083222,71.543323,-16.547771,-290.180416
...,...,...,...,...,...,...,...,...,...,...
2399995,-70708.144668,-4606.543031,2805.802783,-7312.121135,-3526.939822,-4965.947944,220.135100,1057.678498,2360.636890,1934.651589
2399996,140275.356540,814.052332,-29512.108796,23504.905472,-9175.280526,5675.125397,16409.620662,2465.541968,-4928.311551,2604.850015
2399997,17590.595795,3334.474422,5996.492934,645.269891,-4197.372183,1762.693552,-60.440882,2115.391078,-919.578185,2820.212864
2399998,-75089.653851,-3665.732000,-3620.020146,709.662963,42.502412,-1556.732226,-1652.830382,84.508963,-302.824809,-692.984207
2399999,-35787.704450,4335.690761,7986.413539,-20718.592401,-7954.483582,-1276.950693,5377.040992,-4214.410091,-7649.978405,-4997.397601

0          3
1          4
2          2
3          3
4          4
          ..
2399995    4
2399996    3
2399997    2
2399998    4
2399999    4
Name: Segment, Length: 2400000, dtype: int64

In [ ]:
# 차원축소 
pca = PCA(n_components=15)
pca_x = pca.fit_transform(x)

In [ ]:
# 교차검증을 통해 확인해본다.
model1 = XGBClassifier(slient=True, verbosity=0)
model2 = XGBClassifier(slient=True, verbosity=0)

# 교차 검증
kfold = KFold(n_splits=10, shuffle=True, random_state=1)

r1 = cross_val_score(model1, x, y, scoring='accuracy', cv=kfold)
r2 = cross_val_score(model1, pca_x, y, scoring='accuracy', cv=kfold)

print(r1.mean())
print(r2.mean())

0.8651925
0.8651925